<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tbkt.model_common">
    <uses-permission
        android:name="android.permission.RECORD_AUDIO">
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name="com.tbkt.model_common.MyApplication_common"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_common">
        </activity>
    </application>

</manifest>